.navbar-offcanvas {
   display: none
}
.footer-p-address{ margin-top:50px; color: #fff !important; font-size: 12px !important; }
.footer-p-address a{color: #fff !important;}
.footer-p-address span{color: #a87195 !important;}
.header-top {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 /*background: #ededed;*/
}
.socail-icon li{margin-right: 0px;}
.socail-icon li a{padding: 5px 0px 5px 0px;}
@media only screen and (max-width: 991px) {
  .footer-p-address{ margin-top:10px;}
  .f-sm-mb-0px{margin-bottom: 0px;}
}
.footer-heading{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
ul.footer-menu li{
  float: none !important;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #e0e3e8;
    border-color: #495057;
    border-bottom: none;
}
.nav-tabs {
    border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
hr {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.search_page_bg{background-repeat: no-repeat; background-size: cover}
.ol-breadcrumb{margin-bottom: 24px; margin-top: 30px;}
  @media only screen and (min-width: 1199px) {
    .logo-margin-left{margin-left: 12px;}
  }
  @media only screen and (max-width: 1199px) {
    .share_buttons{margin-top: -170px;}
    .search_btn, .custom-dropdown{
      font-size: 14px !important;
    }
  }
  @media only screen and (max-width: 599px) {
    .search_btn, .custom-dropdown, .contact-name{
      font-size: 12px !important;
    }
  }
@media only screen and (min-width: 481px) and (max-width: 575px){
  .searchbut {margin-top: 0px !important;}
  .ol-breadcrumb{margin-bottom: 0px; margin-top: 0px;}
  .m-top-breadcrump{margin-top: 20px;}
}
.search_btn{
  background-color: #0864B2 !important;
  color: #fff !important;
  /*font-size: 1.3vw;*/
  /*font-size: 2.1806853582554515vh;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 12px 0px 12px 0px;
  box-shadow: 0px 1px 2px 1px #888;
  font-size: 16px;
}
.search_btn:hover{
  cursor: pointer;
  background-color: #fff !important;
  color: #F00 !important;
}
/*.contact-name, .contact-phone, .scout_social_icons{ font-size: 1.0248901903367496vw !important; }*/
.m-top-breadcrump{
  margin-top: -70px;
}

.profile-btn{
  padding: 10px 16px;
  color: #0664b2 !important;
  letter-spacing: 1px; 
  font-weight: 600;
  box-shadow: 0px 1px 2px 1px #888;
  text-transform: uppercase;
}
.profile-btn:hover {
  border: none;
  background: #0664b2 !important;
  color: #fff !important;
  cursor: pointer;
}
.readmorelink {
  float: right;
  display: block;
  margin: 20px 0 10px;
  color: #0664b2 !important;
}
.readmorelink:hover {
   /*border: none;
   background: #0664b2;
   /*background: #007cff;*/
   /*color: #fff !important;
   text-decoration: none;
   cursor: pointer;*/
}

label {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1px;
}

.auto-container {
   position: static;
   max-width: 1140px;
   padding: 0px 15px;
   margin: 0 auto;
}

.memberstatus, .showthis {
   display: inline-block;
   color: #fff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.aboutme {
   margin-top: 15px;
   line-height: 20px;
}

.aboutme h3 {
   font-weight: 700;
   font-size: 16px;
}

.top-left {
   position: relative;
   float: left;
   padding: 13px 0px 0px 0px;
   color: #c9c9c9;
   font-size: 12px;
}

.top-right {
   position: relative;
   padding: 5px 0px 0px 0px;
   float: right;
}

.top-right ul li {
   display: inline-flex;
   list-style: none;
}

.header-top ul li {
   position: relative;
   float: left;
}

.search_container {
   background-color: #fff;
   border: 1px solid #eee;
   padding: 5px;
   border-radius: 26px;
   width: 470px;
   height: 55px;
   margin: auto;
   box-shadow: 0 3px 0 #a08999;
}


.search_container_top {
   background-color: #fff;
   border: 1px solid #eee;
   padding: 3px;
   border-radius: 26px;
   width: 460px;
   margin-left: 15em;
   height: 44px;
   box-shadow: 0 3px 0 #a08999;
}

.search_container_top .search_text {
   font-size: 13px;
   color: #007cff;
   font-style: italic;
   float: left;
   margin: 7px 0 0 8px;
}

.search_container_top .search_action {
   width: 300px;
   float: right;
   margin: 2px;
}

.search_container_top input[type='text'] {
   font-family: "Montserrat", sans-serif;
   font-size: 15px;
   height: 32px;
}

.search_container_top button {
   border-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   height: 32px;
   color: #fff;
   background-color: #007cff;
   padding: revert;
}

.btn-border {
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   background-color: #007cff;
   color: white;
   cursor: pointer;
}

.btn-border:hover {
   background-color: #868e96;
   color: #fff;
   cursor: pointer;
}

.form-group>label {
   font-weight: 700;
}

.sm-left {
   display: none;
}

.blue-btn {
   background-color: #0664b2 !important;
   border: #0664b2 !important;
   border-radius: 0px;
   padding: 15px 80px 15px 40px;
   width: 35%;
   text-align: left;
   font-size: 100%;
   cursor: pointer;
}

.white-btn {
   position: absolute;
   border-radius: 0px;
   color: #0664b2;
   font-size: 12px;
   margin: 11px 0em 0px -28px;
   padding: 5px 15px 5px 15px;
}

.font-style {
   font-family: "Open Sans";
   font-size: 12px;
   font-weight: 600;
   color: #ffffff;
   text-align: center;
}

.search-btn-style {
   font-family: "Open Sans";
   font-size: 7.8px;
   font-weight: 600;
   text-align: center;
   color: #0664b2;
}

.search-blue-btn {
 background-color: #0664b2 !important;
 border: #0664b2 !important;
 border-radius: 0px;
 padding: 10px 40px 10px 40px; 
 max-width: 100%;
 text-align: left;
 font-size: 100%;
 margin-top: 1.2em;
 font-family: "Open Sans";
 /*font-size: 12px;*/
 font-weight: 600;
}

.serch-white-btn {
  position: absolute;
  border-radius: 0px;
  color: #0664b2;
  font-size: 7.8px;
  font-weight: 600;
  margin: 27px 0em 0px -30px;
  padding: 5px 15px 5px 15px;
  font-family: "Open Sans";
  border-radius: 2px;
}


.lg-show {
   display: none;
}

.fa-telegram {
   color: #4e9cd3;
}

.fa-whatsapp {
   color: #7fbe73;
}

.fa-viber {
   color: #8162ac;
}

.fa-facebook-messenger {
   color: #4c6ef5;
}

.social-contact {
   font-size: 180%;
   margin-top: 25%;
}

.social-contact:hover {
   color: red;
}
.mobile-logo{
   display: none;
}

.offcanvas-collapse {
  position: fixed;
  top: 0px;
  /* Height of navbar */
  bottom: 0;
  right: 100%;
  left: -300px;
  width: 70%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #343a40;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: left, visibility;
}

.offcanvas-collapse {
   align-items: start;
   /*   Adds a subtle drop shadow   */
   -moz-background-clip: padding;
   /* Firefox 3.6 */
   -webkit-background-clip: padding;
   /* Safari 4? Chrome 6? */
   background-clip: padding-box;
   /* Firefox 4, Safari 5, Opera 10, IE 9 */
   border-right: 5px solid rgba(0, 0, 0, 0.2);
}

/* Makes the nav visibile with the open class */

.offcanvas-collapse.open {
   left: 0;
   visibility: visible;
}

.navbar-expand-lg .navbar-nav {
   -ms-flex-direction: column;
   flex-direction: column;
}

.nav-scroller {
   position: relative;
   z-index: 2;
   height: 2.75rem;
   overflow-y: hidden;
}

.nav-scroller .nav {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: nowrap;
   flex-wrap: nowrap;
   padding-bottom: 1rem;
   margin-top: -1px;
   overflow-x: auto;
   color: rgba(255, 255, 255, .75);
   text-align: center;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
   padding-top: .75rem;
   padding-bottom: .75rem;
   font-size: .875rem;
   color: #6c757d;
}

.nav-underline .nav-link:hover {
   color: #007bff;
}

.nav-underline .active {
   font-weight: 500;
   color: #343a40;
}

.fixed-top {
   top: -16px;
}

#navToggle {
   display: none;}


.contact-photo{ border-radius: 20px; width: 25px; height: 25px; }

  @media(min-width: 992px) {
    .apply-margin {
      /*margin-left: 27px;*/
    }
  }


  @media only screen 
    and (min-width: 425px)
    and (max-width: 486px){
      .blue-btn { width: 70% !important;}
    }

  @media only screen 
    and (min-width: 481px)
    and (max-width: 599px){
      .homepage_bg{background: none;}
      .margin-mob {
        padding-top: 30px;
      }
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .smallhide {
        display: block !important;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      header #menu-main {
        display: none;
      }
      .nav-toggle-a{
          padding-left: 21.4em;
        }
      .apply-margin-bottom {
        margin-bottom: -44px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
      .search-blue-btn {
        font-size: 100%;
        width: 80%;
        margin: 0em 0px 1em 40px;
      }
      .looking-for {
        width: 40%;
        padding-left: 0px;
        font-size: 80%;
      }
      .serch-white-btn {
        margin: 8px 0em 0px -29px;
      }
  }

  @media only screen 
    and (min-width: 641px)
    and (max-width: 768px){
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .smallhide {
        display: block !important;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      header #menu-main {
        display: none;
      }
      .nav-toggle-a{
          padding-left: 35.4em;
      }
      .apply-margin-bottom {
        margin-bottom: -34px !important;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
      .margin-mob{padding-top: 30px;}
  }

  @media only screen 
    and (min-width: 769px)
    and (max-width: 992px)
    and (orientation: portrait){
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .smallhide {
        display: block !important;
      }
      .navbar-offcanvas { display: unset; }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas { display: unset }
      header #menu-main {
        display: none;
      }
      .nav-toggle-a{ padding-left: 100%; }
      .apply-margin-bottom {
        margin-bottom: -44px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
      
      .margin-mob{padding-top: 30px;}
  }
  @media only screen 
    and (min-width: 769px)
    and (max-width: 992px)
    and (orientation: landscape){
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .smallhide {
        display: block !important;
      }
      .navbar-offcanvas { display: unset; }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas { display: unset }
      header #menu-main {
        display: none;
      }
      .nav-toggle-a{ padding-left: 46.9em; }
      .apply-margin-bottom {
        margin-bottom: -33px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}

      .margin-mob{padding-top: 30px;}
  }
  @media only screen 
    and (min-width: 993px)
    and (max-width: 1199px){
      .tablet-padding-top{padding-top: 220px !important;}
      .tablet-padding-p-top{padding-top: 220px !important;}
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .smallhide {
        display: block !important;
      }
      .nav-toggle-a{color:white; padding-left:48.2em !important;}
      .navbar-offcanvas { display: unset; }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas { display: unset }
      header #menu-main {
        display: none;
      }
      .nav-toggle-a{ padding-left: 48.7em; }
      .apply-margin-bottom {
        margin-bottom: -33px;
      }
      .m-logo{margin-bottom: 15px;}
      /*.pt-m-65px{padding-top: 65px;}*/

      .margin-mob{padding-top: 50px;}
    }


  /*----------------------Mobile ----------------------*/
  /*Portrait*/
  @media only screen 
    and (max-width:480px)
    and (orientation: portrait) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .homepage_bg{background: none;}
      .margin-mob{padding-top: 30px;}
      .apply-margin-bottom {
        margin-bottom: -45px;
        /*margin-top: 14px;*/
      }
      .m-logo{margin-bottom: 15px !important;}
      .pt-m-65px{padding-top: 65px;}
      .pt-50px{padding-top: 50px;}
      .nav-toggle-a{color:white; padding-left:100%;}
       .font-weight {
           font-weight: 100;
       }
       h1 {
           font-size: 12px;
           line-height: 10px;
       }
       /*.clip {
           max-width: 50%;
       }*/
       .align-text {
           text-align: right;
       }
       .search_container_top {
           background-color: #fff;
           border: 1px solid #eee;
           padding: 3px;
           border-radius: 26px;
           width: 460px;
           margin: 0;
           height: 44px;
           box-shadow: 0 3px 0 #a08999;
       }
       .order2 {
           order: 2;
           /*margin-top: -2em;*/
       }
       .order1 {
           order: 1;
       }
       .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 115%;
        padding-left: 9px;
       }
       .smallhide {
           display: block;
       }
       .sm-left {
           /* float: left;
           margin-top: -3em; */
           display: none;
       }
       /*.mobile-logo {
           float: left;
           margin-top: -3em;
           display: unset;
           height: 32px; width: 240px;
       }*/
       
       .white-btn-lg {
           width: 100%;
           font-size: 80%;
       }
       .search-blue-btn {
          margin: 1em 0px 1em 0px;
       }
       .serch-white-btn {
          margin: 2.3em 0em 0px -45px;
       }
       .looking-for {
          width: 40%;
          padding-left: 0px;
          font-size: 80%;
       }
       .looking-for-search{width: 43%;}
       .serch-white-btn {
          margin: 23px 0em 0px -22px;
          padding: 3px 7px 3px 7px;
       }
       #navToggle {
           color: white;
           display: unset;
       }
       .navbar-offcanvas {
          display: unset
       }
  }
  /*Landscape Mobile*/
  @media only screen 
    and (max-width:480px)
    and (orientation: landscape) {
      .nav-toggle-a{color:white; padding-left: 30.8em !important;}
      .homepage_bg{background: none;}
  }
  /* Iphone 5, 5S, 5C and 5SE  */
  /* Portrait */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 359px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 127%;
       }
       .font_size{
        font-size: 10.94pt ;
       }
      .homepage_bg{background: none;}
      .nav-toggle-a{color:white; padding-left: 14.5em !important;}
      .contact-name{font-size: 12px;}
      .contact-photo{width: 20px; height: 20px; }
      .scout_social_icons{font-size: 12px;}
      .margin-mob{padding-top: 30px;}
      .nav-toggle-a { padding-left: 13.5em;}
      .contact-photo{ width: 20px; height: 20px; }
      .padding-top-100px {
        padding-top: 50px;
      }
    }
  /* Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .homepage_bg{background: none;}
      .nav-toggle-a{padding-left:25.5em !important;} 
  }
  /* Iphone 6, 6s, 7, 8 Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .homepage_bg{background: none;} 
      .smallhide {
        display: block;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      .order2 {
        order: 2;
        margin-top: -2em;
      }
      .order1 {
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .margin-mob{padding-top: 30px;}
      .apply-margin-bottom {
        margin-bottom: -44px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
  }
  /* Iphone 6+, 7+, 8+ Landscape */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;} 
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .homepage_bg{background: none;}
      .nav-toggle-a{color:white; padding-left:34em !important;}
      .smallhide {
        display: block;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
  }
  /* Iphone 6+, 7+, 8+ portrait */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) { 
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .homepage_bg{background: none;}
      .nav-toggle-a{color:white; padding-left:18em;}
      .search-blue-btn {
        font-size: 100%;
        width: 80%;
        margin: 1em 0px 1em 40px;
      }
      .smallhide {
        display: block;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      .apply-margin-bottom {
        margin-bottom: -45px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
  }
  /* Iphone X/XS Landscape */
  @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) { 
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .margin-mob{padding-top: 30px;}
      .homepage_bg{background: none;}
      .apply-margin-bottom {
        margin-bottom: -13px;
        margin-top: 14px;
      }
      .nav-toggle-a{color:white; padding-left: 37.9em;}
      .order2 {
        order: 2;
        margin-top: -2em;
        /*flex: 0 0 100% !important;
        max-width: 100% !important;*/

      }
      .order1 {
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .serch-white-btn {
        margin: 24px 0em 0px -32px;
        padding: 3px 7px 3px 7px;

      }
      /*.mobile-logo {
        float: left;
        margin-top: -3em;
        display: unset;
        height: 32px;
        width: 200px;
      }*/
      .search-blue-btn {
        font-size: 100%;
        width: 75%;
        margin: 1em 0px 1em 65px;
      }
  }
  /* Iphone XR/XR Max Landscape */
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 896px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      .search_btn_header {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

  /*Samsung Galaxy S9/S9+*/
  /* Landscape */
  @media screen 
    and (min-device-width: 360px) 
    and (max-device-width: 740px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      .searchbut{margin-top: 0px !important;}
      .m-top-breadcrump{margin-top: 0px;}
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .homepage_bg{background: none;}
      .margin-mob{padding-top: 30px;}
      .nav-toggle-a{
          padding-left: 16.3em !important;
        }
      .apply-margin-bottom {
        margin-bottom: -45px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
      
      .order2{
        order: 2;
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      
      .smallhide {
        display: block;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      header #menu-main {
        display: none;
      }
  }
  /* Landscape */
  @media screen 
    and (min-device-width: 384px) 
    and (max-device-width: 640px) 
    and (orientation: landscape) {

      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .smallhide{display: block !important;}
      .homepage_bg{background: none;}
      .nav-toggle-a{padding-left: 18.5em !important;}
      .order2{
        order: 2;
        /*flex: 0 0 100% !important;*/
        margin-top: -2em;
        /*max-width: 100% !important;*/
      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .navbar-offcanvas {
        display: unset !important;
      }
      #navToggle {
        color: white !important;
        display: unset !important;
      }
      .navbar-offcanvas {
        display: unset !important;
      }
      header #menu-main {
        display: none !important;
      }
      .margin-mob{padding-top: 30px;}
      .apply-margin-bottom {
        margin-bottom: -45px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}
      
    }

  /*--------------------------------------Tablets-------------------------------*/

  @media only screen 
    and (min-width: 600px) 
    and (max-width:767px)
    and (orientation: portrait) {
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
      .margin-mob{padding-top: 30px;}
      
      .pt-50px{padding-top: 40px;}
      .nav-toggle-a{color:white; padding-left:35em;}
       .font-weight {
           font-weight: 200;
       }
       h1 {
           font-size: 19px;
           line-height: 20px;
       }
       img {
           max-width: 50%;
       }
       .align-text {
           text-align: right;
       }
       #logo {
           max-width: 50%;
           padding-top: 5px;
       }
       .top-right {
           position: relative;
           padding: 5px 0px 0px 0px;
           float: left;
       }
       .search_container {
           background-color: #fff;
           border: 1px solid #eee;
           padding: 5px;
           border-radius: 26px;
           width: 470px;
           height: 51px;
           margin-left: 0px;
           /*margin: auto;*/
           box-shadow: 0 0px 0 #007cff;
       }
       .search_container_top {
           background-color: #fff;
           border: 1px solid #eee;
           padding: 3px;
           border-radius: 26px;
           width: 460px;
           margin: 0;
           height: 44px;
           box-shadow: 0 3px 0 #a08999;
       }
       .order2 {
           order: 2;
           margin-top: -2em;
           }
       .order1 {
           order: 1;
          flex: 0 0 100% !important;
          max-width: 100% !important;
       }
       .top-left {
           margin-top: 1em;
       }
       
      
      
       .fa-angle-down {
           /*float: right;*/
           /*padding-top: 3px;
           font-size: 20px;*/
       }
       .smallhide {
           display: block;
           max-width: 100%;
       }
       .apply-margin-bottom {
        margin-bottom: -45px;
        /*margin-top: 14px;*/
        }
        .m-logo{margin-bottom: 15px;}
        .pt-m-65px{padding-top: 65px;}
       .navbar-offcanvas {
           display: unset
       }
       #navToggle {
           color: white;
           display: unset;
       }
  }

  /* ----------- Nexus 7 ----------- */

  /* Portrait and Landscape */
  @media screen 
    and (device-width: 600px) 
    and (device-height: 960px) 
    and (-webkit-min-device-pixel-ratio: 1.331) 
    and (-webkit-max-device-pixel-ratio: 1.332) {
      .search_btn_header{
        margin-top: 10px;
        margin-bottom: 10px;
       }
  }

  /* Landscape iPad */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 2) {
      .apply-margin-bottom {
        margin-bottom: -34px;
        /*margin-top: 14px;*/
        }
        .m-logo{margin-bottom: 15px;}
        .pt-m-65px{padding-top: 65px;}
  }

  /* portrait iPad */
  @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 2) {
      .apply-margin-bottom {
        margin-bottom: -34px !important;
        /*margin-top: 14px;*/
        }
        .m-logo{margin-bottom: 15px;}
        .pt-m-65px{padding-top: 65px;}
    }

  /* ----------- iPad Pro 10.5" ----------- */  

  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 834px) 
    and (max-device-width: 1112px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      .margin-mob{padding-top: 30px;}
      .nav-toggle-a{
          padding-left: 13em;
        }
      .apply-margin-bottom {
        margin-bottom: -13px;
        margin-top: 14px;
      }
      .white-btn { 
        margin: 14px 0em 0px -40px;
      }
      .search_btn_header {
        margin-top: 0px;
        margin-bottom: 10px;
      }
      /*.mobile-logo {
        float: left;
        margin-top: -5em;
        display: unset;
        height: 48px;
        width: 350px;
      }*/
      .search-blue-btn {
        font-size: 100%;
        width: 70%;
        margin: 1em 0px 1em 90px;
        padding: 10px 0px 10px 20px;
      }
      .serch-white-btn {
        margin: 25px 0em 0px -22px;
      }
      .order2{
        order: 2;
        /*margin-top: -2em;*/
        /*flex: 0 0 100% !important;
        max-width: 100% !important;*/

      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .s_mother{margin-left: 0px;}
      .egg_donor{margin-left: 30px;}
      .sperm_donor{margin-left: 26px;}
      .fertility_clinics{margin-left: 20px;}
      .f_egg_donor{margin-left: 0px;}
      .f_sperm_donor{margin-left: -8px;}
      .white-btn {
        margin: 14px 0em 0px -20px;
      }

  }

  /* ----------- iPad Pro 12.9" ----------- */

  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1366px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .margin-mob{padding-top: 30px;}
      .nav-toggle-a{
          padding-left: 48.5em;
        }
      .apply-margin-bottom {
        margin-bottom: -34px;
      }
      .m-logo{margin-bottom: 15px;}
      .pt-m-65px{padding-top: 65px;}

      .order2{
        order: 2;
        /*margin-top: -2em;*/
        /*flex: 0 0 100% !important;.nav-toggle-a{
          padding-left: 35.4em;
      }
        max-width: 100% !important;*/

      }
      .order1{
        order: 1;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .s_mother{margin-left: 0px;}
      .egg_donor{margin-left: 30px;}
      .sperm_donor{margin-left: 26px;}
      .fertility_clinics{margin-left: 20px;}
      .f_egg_donor{margin-left: 0px;}
      .f_sperm_donor{margin-left: -8px;}
      .white-btn {
        margin: 14px 0em 0px -20px;
      }
      .smallhide {
        display: none;
      }
      .navbar-offcanvas {
        display: unset;
      }
      #navToggle {
        color: white;
        display: unset;
      }
      .navbar-offcanvas {
        display: unset
      }
      header #menu-main {
        display: none;
      }

  }
  /*------------------------------------------------------------------------------------------*/
   /* Custom dropdown */

   .custom-dropdown {
      /*position: relative;
      vertical-align: middle;*/
       /* demo only */
    }
    .custom-dropdown:hover{
      cursor: pointer !important;
      background-color: #fff !important;
      color: #F00 !important;
    }

    .custom-dropdown {
      
      padding: 0px 0px 0px 0px !important;
      border: 0;
      margin: 0;
      text-indent: 0.01px;
      text-overflow: '';
      /*Hiding the select arrow for firefox*/
      -moz-appearance: none;
      /*Hiding the select arrow for chrome*/
      -webkit-appearance: none;
      /*Hiding the select arrow default implementation*/
      appearance: none;
      background-color: #0664b2 !important;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      /*font-size: 11.94pt;*/
      font-size: 16px;
    }

   /*Hiding the select arrow for IE10*/

   .custom-dropdown select::-ms-expand {
       display: none;
   }

   .custom-dropdown::before, .custom-dropdown::after {
       content: "";
       position: absolute;
       /*pointer-events: none;*/
   }

   .custom-dropdown::after {
       /*  Custom dropdown arrow */
       /* content: "\25BC";
      height: 1em;
      font-size: .625em;
      line-height: 1;
      right: 1.2em;
      top: 50%;
      margin-top: -.5em;*/
   }

   .custom-dropdown::before {
       /*  Custom dropdown arrow cover */
       /* width: 2em;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 0 3px 3px 0;
      background-color: rgba(0,0,0,.2);*/
   }

   .custom-dropdown::after {
       color: rgba(0, 0, 0, .6);
   }

   .custom-dropdown select[disabled] {
       
   }

   .btn-light2:hover {
       color: white !important;
       background-color: #445da8;
       border-color: #445da8;
       cursor: pointer;
       transition: 1.2s;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .btn-group-lg>.btn, .btn-lg {
       padding: 1rem 1rem;
       font-size: 1.25rem;
       line-height: 1.5;
       border-radius: .3rem;
   }

   .fileinput-button {
       position: relative;
       overflow: hidden;
       display: inline-block;
   }

   .btn-success2 {
       background-color: #00a65a;
       border-color: #008d4c;
   }

   .fileinput-button input {
       position: absolute;
       top: 0;
       right: 0;
       margin: 0;
       opacity: 0;
       -ms-filter: 'alpha(opacity=0)';
       font-size: 200px !important;
       direction: ltr;
       cursor: pointer;
   }

   /*search results page*/

   .result {
       font: 25px Raleway;
       font-size: 25px;
       color: #0664b2;
       margin-bottom: 20px;
   }

   .result span {
       margin-left: 15px;
       padding: 1px 10px 6px;
       color: #fff;
       -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
       border-radius: 20px;
       background: #1dc59f;
       font-size: 20px;
       vertical-align: top;
   }

   #homeblog {
       margin-bottom: 40px;
       font-family: Raleway;
   }

   #homeblog .blogelem {
       border: 1px solid #f0f0f0;
       margin-top: 15px;
   }

   .blogelem {
       font-family: Montserrat !important;
   }

   .blogelem {
       border: none;
       box-shadow: 0 0 20px #7e7b7b;
       padding: 20px;
   }

   #homeblog .imgcont {
       position: relative;
   }

   #homeblog .postdata {
       padding: 0;
       font-family: Montserrat;
   }

   #homeblog .ptitle {
       font-size: 16px;
       font-weight: 300;
   }

   #homeblog .ptitle {
       text-align: left;
       /*margin-top: 10px;*/
       font: 500 16px Raleway;
       font-weight: 500;
       font-size: 16px;
       color: #051e46;
       margin-bottom: 5px;
   }

   #homeblog .ptitle a {
       font-weight: 700;
       text-transform: uppercase;
       font-size: 18px;
       color: #d75685;
   }

   #homeblog .bauthor {
       margin-top: 5px;
       font: 400 13px Montserrat;
   }

   #homeblog .bauthor {
       font: 600 13px Raleway;
       margin-bottom: 10px;
       text-align: left;
   }

   #homeblog .bauthor table {
       border: 1px solid #ddd;
       background-color: #e2e5eb;
       width: 100%;
   }

   .bauthor tr {
       border-bottom: 1px solid #ccc;
   }

   .bauthor td {
       padding: 2px 5px 2px 3px;
   }

   #homeblog .excerpt {
       font: 300 13px Raleway;
   }


   .profileicons {
       margin: 20px 0 10px;
   }

   a:hover {
       color: #0663C6;
   }

   .breadcrumb a {
       text-decoration: underline;
   }

   /*only half image*/

   .clip {
      /*position: absolute;
      clip: rect(0px, 284px, 199px, 154px)*/
      height: 116px;
      width: 100% !important; 
      max-width: 100% !important;
      /*clip-path: inset(5% 0% 0% 53%);*/
       /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
   }
   /*.no-padding-right{padding-right: 0px;}
   .no-padding-left{padding-left:0px;}*/
   
   .profileheader {
       padding: 15px;
       box-shadow: 0 0 6px #999;
       background: #fafafa;
       margin-bottom: 15px;
   }

   .profileimg {
       box-shadow: 0 0 6px #999;
   }

   .profileheader h1 {
       margin: 0 0 10px;
       font: 400 22px Raleway;
       color: #47213a;
   }

   .userdata {
       font-weight: 300;
       line-height: 20px;
   }

   #book-it:hover {
       color: white !important;
       background-color: #0664b2;
       border-color: #0664b2;
   }

   .text {
       overflow: hidden;
       text-overflow: ellipsis;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       /* number of lines to show */
       -webkit-box-orient: vertical;
   }

   header ul.link-padding-tb-20px>li>a {
       /*padding-top: 20px;
    padding-bottom: 20px;*/
       padding: 20px 9px 20px 9px;
   }

   #st-1 .st-btn>img {
       max-width: 100%;
   }

   /*for pages and subpages*/
   @media only screen and (min-width: 992px) and (max-width: 1200px){
    .padding-top-screen{
      padding-top: 415px !important;
    }
}
   